<!-- Navigation Menu-->
<nav class="hide-on-small-only">
    <ul class="side-nav fixed section table-of-contents">
        <li class="logo">
            <a id="logo-container" aria-label="Navigate to the beginning of the page" href="#intro" class="brand-logo teal-text">
                <h1>
                    Worada Srasongkhram
                    <span class="brown-text light">Programmer </span>
                </h1>
            </a>
        </li>
        <li class="bold">
            <a aria-label="Navigate to the About section" href="#about" class="waves-effect waves-dark teal-text">
                <i class="mdi-social-person small"></i>
                <span>About</span>
            </a>
        </li>
        <li class="bold">
            <a aria-label="Navigate to the Education section" href="#education" class="waves-effect waves-dark orange-text">
                <i class="mdi-social-school small"></i>
                <span>Education</span>
            </a>
        </li>
        <li class="bold">
            <a aria-label="Navigate to the Experience section" href="#experience" class="waves-effect waves-dark cyan-text">
                <i class="mdi-action-trending-up small"> </i>
                <span>Experience</span>
            </a>
        </li>
        <li class="bold">
            <a aria-label="Navigate to the Projects section" href="#projects" class="waves-effect waves-dark indigo-text">
                <i class="mdi-av-web small"></i>
                <span>Projects</span>
            </a>
        </li>
        <li class="bold">
            <a aria-label="Navigate to the Skills section" href="#skills" class="waves-effect waves-dark purple-text">
                <i class="mdi-av-equalizer small"></i>
                <span>Skills</span>
            </a>
        </li>

        <li class="bold">
            <a aria-label="Navigate to the Contact section" href="#contact" class="waves-effect waves-dark brown-text">
                <i class="mdi-content-mail small"></i>
                <span>Contact</span>
            </a>
        </li>

    </ul>
</nav>
<nav class="hide-on-large only trigger z-depth-1">
    <a aria-label="Toggle visibility of the mobile navbar" href="#" data-activates="slide-out" class="button-collapse">
        <i class="mdi-navigation-menu"> </i>
    </a>
    <div class="name-title">
        <a id="name" aria-label="Navigate to the beginning of the page" href="#main" class="teal-text">Worada Srasongkhram
    </a>
        <span class="brown-text light">Programmer</span>
    </div>
</nav>
<nav class="hide-on-large only">
    <ul id="slide-out" class="side-nav">
        <li class="bold">
            <a aria-label="Navigate to the About section" href="#about" class="waves-effect waves-dark teal-text">
                <i class="mdi-social-person small"></i>
                <span>About</span>
            </a>
        </li>
        <li class="bold">
            <a aria-label="Navigate to the Experience section" href="#experience" class="waves-effect waves-dark cyan-text">
                <i class="mdi-action-trending-up small"> </i>
                <span>Experience</span>
            </a>
        </li>
        <li class="bold">
            <a aria-label="Navigate to the Projects section" href="#projects" class="waves-effect waves-dark indigo-text">
                <i class="mdi-av-web small"></i>
                <span>Projects</span>
            </a>
        </li>
        <li class="bold">
            <a aria-label="Navigate to the Skills section" href="#skills" class="waves-effect waves-dark purple-text">
                <i class="mdi-av-equalizer small"></i>
                <span>Skills</span>
            </a>
        </li>
        <li class="bold">
            <a aria-label="Navigate to the Education section" href="#education" class="waves-effect waves-dark orange-text">
                <i class="mdi-social-school small"></i>
                <span>Education</span>
            </a>
        </li>
        <li class="bold">
            <a aria-label="Navigate to the Contact section" href="#contact" class="waves-effect waves-dark brown-text">
                <i class="mdi-content-mail small"></i>
                <span>Contact</span>
            </a>
        </li>
        <li class="bold">
            <a aria-label="Navigate to the Contact section" href="#blog" class="waves-effect waves-dark yellow-text text-dark-3">
                <i class="mdi-content-mail small"></i>
                <span>Blog</span>
            </a>
        </li>
        <li class="bold">
            <a aria-label="Open Andrew's Resume in a new tab" href="https://docs.google.com/document/d/1evlvmAcOmPTttl1isyX_UcQbLO5pK8OwB4Rs2Sv4riY" target="_blank" class="waves-effect waves-dark grey-text text-darken-3">
                <i class="mdi-action-description small"></i>
                <span>Resume</span>
            </a>
        </li>
    </ul>
</nav>
<!-- Main Content-->
<main>

    <section id="about" class="section scrollspy">
        <h3 class="page-title white-text teal">About</h3>
        <div class="container flow-text">
            <a target="_blank">
                <img alt="Lightspeed logo" src="assets/img/wrd.jpg" class="responsive-img " width="180" height="60" style=" border-radius: 50%;" />
            </a>
            <blockquote>
                <h2>
                    Mission-driven full stack developer with a passion for thoughtful UI design, collaboration.
                </h2>
            </blockquote>
            <p>
                As a web developer, I enjoy using my obsessive attention to detail, my unequivocal love for making things, and my mission-driven work ethic to literally change the world. That's why I’m excited to make a big impact at a high growth company.
            </p>
        </div>
    </section>
    <section id="education" class="section scrollspy">
        <h3 class="page-title white-text teal">Education</h3>
        <div class="container">
            <div class="row">
                <div class="col s12 m6">
                    <div class="card">
                        <div class="card-content">
                            <p>
                                <span class="card-title">
                <a  class="teal-text hoverline"
                  >Kasetsart University
                </a>
              </span>
                            </p>
                            <p class="brown-text">2017 - 2021</p>
                            <ul>
                                <li>Faculty of Engineering</li>
                                <li>Bachelor of Computer Engineering</li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section id="experience" class="section scrollspy">
        <h3 class="page-title white-text teal">Experience</h3>
        <div class="container">
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <div class="col s12 m2">
                            <a target="_blank">
                                <img alt="Lightspeed logo" src="assets/img/sf.jpg" class="responsive-img center-block" />
                            </a>
                        </div>
                        <div class="col s12 m10">
                            <p>
                                <span class="card-title">
                  <a target="_blank" class="teal-text hoverline"
                    >Sunfood International Company Limited
                  </a>
                </span>
                            </p>
                        </div>
                    </div>

                    <p>
                        <em class="grey-text">Web Application Developer </em>
                    </p>
                    <ul>
                        <li>
                            Design and develop the system according to the need of users.
                        </li>
                        <li>
                            Design and develop systems in the production line.
                        </li>
                        <li>
                            Fix system problems that occur.
                        </li>
                    </ul>
                </div>
                <div class="card-action">
                    <span>Jul. 2021 - Feb. 2022</span>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <div class="col s12 m2">
                            <a target="_blank">
                                <img alt="Lightspeed logo" src="assets/img/jcy.png" class="responsive-img center-block" />
                            </a>
                        </div>
                        <div class="col s12 m10">
                            <p>
                                <span class="card-title">
                <a target="_blank" class="teal-text hoverline"
                  >JCY HDD Technology Co., Ltd 
                </a>
              </span>
                            </p>
                        </div>
                    </div>

                    <p>
                        <em class="grey-text">Programmer</em>
                    </p>
                    <ul>
                        <li>
                            Design and develop the system according to the need of users.
                        </li>
                        <li>
                            Design and develop HR related systems and production line.
                        </li>
                        <li>
                            Fix system problems that occur.
                        </li>
                        <li>
                            Providing advice and troubleshooting software and hardware.
                        </li>
                    </ul>
                </div>
                <div class="card-action">
                    <span>Mar. 2022 - Current</span>
                </div>
            </div>
        </div>
    </section>
    <section id="projects" class="section scrollspy">
        <h3 class="page-title white-text teal">Projects</h3>
        <div class="container">
            <div class="row">
                <!-- ChickenFood-->
                <div class="col s12 m6 l4">
                    <div class="card medium">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img src="assets/img/1.jpg" class="activator" />
                        </div>
                        <div class="card-content">
                            <span class="card-title activator teal-text hoverline"> ChickenFood
                
                        </span>
                            <p>
                                Web app for recording raw materials into the factory and record the work process
                            </p>
                        </div>
                    </div>

                </div>

                <!-- Sun Production-->
                <div class="col s12 m6 l4">
                    <div class="card medium">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img src="assets/img/2.jpg" class="activator" />
                        </div>
                        <div class="card-content">
                            <span class="card-title activator teal-text hoverline"> Sun Production
              
                      </span>
                            <p>
                                Web app for requesting bags and receiving bags in the production line
                            </p>
                        </div>
                    </div>

                </div>

                <!--Immigration_Bureau-->
                <div class="col s12 m6 l4">
                    <div class="card medium">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img src="assets/img/3.jpg" class="activator" />
                        </div>
                        <div class="card-content">
                            <span class="card-title activator teal-text hoverline"> Immigration Bureau
            
                    </span>
                            <p>
                                Immigration bureau is a web app for recording visa connection information.
                            </p>
                        </div>
                    </div>

                </div>

                <div class="col s12 m6 l4">
                    <div class="card medium">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img src="assets/img/4.jpg" class="activator" />
                        </div>
                        <div class="card-content">
                            <span class="card-title activator teal-text hoverline"> Human Resources
          
                  </span>
                            <p>
                                Personnel management system, including Leave App, Overtime Requisition, Transport Requisition etc.
                            </p>
                        </div>
                    </div>

                </div>

                <div class="col s12 m6 l4">
                    <div class="card medium">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img src="assets/img/5.jpg" class="activator" />
                        </div>
                        <div class="card-content">
                            <span class="card-title activator teal-text hoverline"> Service Request
        
                </span>
                            <p>
                                Wab app for reporting problems and needs to various departments
                            </p>
                        </div>
                    </div>

                </div>

                <div class="col s12 m6 l4">
                    <div class="card medium">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img src="assets/img/6.jpg" class="activator" />
                        </div>
                        <div class="card-content">
                            <span class="card-title activator teal-text hoverline">Staff Shuttle
      
              </span>
                            <p>
                                Wab app for managing employee shuttles.
                            </p>
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </section>
    <section id="skills" class="section scrollspy">
        <h3 class="page-title white-text teal">Skills</h3>
        <div class="container">
            <div class="card">
                <div class="card-content">
                    <div class="row text-center">
                        <div class="col s4 m2">
                            <img alt="" src="assets/img/html5.png" class="responsive-img" /> HTML5
                        </div>
                        <div class="col s4 m2">
                            <img alt="" src="assets/img/bootstrap.png" class="responsive-img" /> Bootstrap
                        </div>
                        <div class="col s4 m2">
                            <img alt="" src="assets/img/css3.png" class="responsive-img" /> css
                        </div>
                        <div class="col s4 m2">
                            <img alt="" src="assets/img/sass.png" class="responsive-img" /> sass
                        </div>
                        <div class="col s4 m2">
                            <img alt="" src="assets/img/php.png" class="responsive-img" /> PHP
                        </div>
                        <div class="col s4 m2">
                            <img alt="" src="assets/img/NET.png" class="responsive-img" /> .NET
                        </div>



                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-content">

                    <div class="row text-center">
                        <div class="col s4 m2">
                            <img alt="" src="assets/img/c-sharp.png" class="responsive-img" /> C#
                        </div>
                        <div class="col s4 m2">
                            <img alt="" src="assets/img/java.png" class="responsive-img" /> Java
                        </div>
                        <div class="col s4 m2">
                            <img alt="" src="assets/img/javascript.png" class="responsive-img" /> Javascript
                        </div>

                        <div class="col s4 m2">
                            <img alt="" src="assets/img/typescript.png" class="responsive-img" /> Typescript
                        </div>
                        <div class="col s4 m2">
                            <img alt="" src="assets/img/jquery.png" class="responsive-img" /> jQuery
                        </div>
                        <div class="col s4 m2">
                            <img alt="" src="assets/img/angular.png" class="responsive-img" /> Angular
                        </div>



                    </div>
                </div>

            </div>

            <div class="card">
                <div class="card-content">

                    <div class="row text-center">

                        <div class="col s4 m2">
                            <img alt="" src="assets/img/flutter.png" class="responsive-img" /> Flutter
                        </div>

                        <div class="col s4 m2">
                            <img alt="" src="assets/img/nodejs.png" class="responsive-img" /> Node js
                        </div>
                        <div class="col s4 m2">
                            <img alt="" src="assets/img/nodered.png" class="responsive-img" /> Node red
                        </div>

                        <div class="col s4 m2">
                            <img alt="" src="assets/img/mysql.png" class="responsive-img" /> Mysql
                        </div>


                        <div class="col s4 m2">
                            <img alt="" src="assets/img/sql-server.png" class="responsive-img" /> sql server
                        </div>
                        <div class="col s4 m2">
                            <img alt="" src="assets/img/github.png" class="responsive-img" /> github
                        </div>

                    </div>
                </div>
            </div>


        </div>
    </section>
    <section id="education" class="section scrollspy">
        <h3 class="page-title white-text teal">Education</h3>
        <div class="container">
            <div class="row">
                <div class="col s12 m6">
                    <div class="card">
                        <div class="card-content">
                            <p>
                                <span class="card-title">
                  <a  class="teal-text hoverline"
                    >Kasetsart University
                  </a>
                </span>
                            </p>
                            <p class="brown-text">2017 - 2021</p>
                            <ul>
                                <li>Faculty of Engineering</li>
                                <li>Bachelor of Computer Engineering</li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section id="contact" class="section scrollspy full-height">
        <h3 class="page-title white-text teal">Contact</h3>
        <div class="container">
            <p>
                <a aria-label="Email Andrew" href="mailto:worada.sra@gmail.com" data-position="top" data-tooltip="Email Andrew" class="btn-floating btn-large waves-effect waves-light brown tooltipped"><i class="fa fa-envelope"></i></a><a aria-label="Email Andrew"
                    href="mailto:worada.sra@gmail.com" class="hoverline">worada.sra@gmail.com</a>
            </p>

            <p>
                <a target="_blank" data-position="top" data-tooltip="View Andrew on LinkedIn" class="btn-floating btn-large waves-effect waves-light brown tooltipped"><i class="fa fa-home"></i></a>
                <a class="hoverline">7 Village NO.5 Ponthong, Nongkhae, Saraburi, 
                  18250 Thailand</a>
            </p>

            <p>
                <a target="_blank" data-position="top" data-tooltip="View Andrew on LinkedIn" class="btn-floating btn-large waves-effect waves-light brown tooltipped"><i class="fa fa-phone"></i></a>
                <a class="hoverline">0631635963</a>
            </p>
        </div>
    </section>
</main>